<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')  %> 
  <body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="center">
      <h1>about Us</h1>
      <div class="container_form aboutForm">
        <h3>Email : </h3><p>n.talbi@esi-sba.dz</p>
        <h3>Phone : </h3><p>0782540502</p>
        <h3>Adress : </h3><p>Sidi Bel Abbes , Mostafa Ben Brahim</p>

      </div>
    </div>
  </body>
</html>
